<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MarrayMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C2A79FC81C575CB000F6EC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2A79FE11C575CB000F6EC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2A79FEC1C575CB000F6EC82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
